@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-main__menu {
  font-family: Raleway;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-align: center;
  margin-top: 40px;
  margin-left: 30vmax;
  width: 397px;
  height: 32px;
  display: flex;
  justify-content: space-between;
}

.nav__button {
  color: white;
  background-color: black;
  width: 129px;
  height: 32px;
  border-radius: 8px;
}

.main__container {
  font-family: Raleway;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
}

.section-principal__list {
  display: flex;
  width: 25px;
  justify-content: space-evenly;
  flex-direction: row;
}

p {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-align: center;
}

.nav-menu__list {
  display: flex;
  justify-content: space-between;
}

.nav-menu__logo {
  margin-top: 40px;
  margin-left: 20px;
}

.header__container {
  background-color: rgb(255, 255, 255);
}

nav__container {
  margin: 40px;
  height: 100px;
}

.image__container {
  flex: auto;
}

.section-principal__list {
  display: flex;
  justify-content: space-around;
  width: 274px;
}

.section-principal__item {
  top: 273px;
  left: 488px;
}

.section-principal__container {
  display: flex;
  justify-content: space-around;
  margin-top: 26px;
}

.button1 {
  width: 129px;
  height: 32px;
  top: 273px;
  left: 343px;
  border-radius: 8px;
  background: #000000;
  color: white;
}

.button2 {
  width: 129px;
  height: 32px;
  top: 273px;
  left: 343px;
  border-radius: 8px;
  background: white;
  color: black;
}

.p__container-mobile {
  margin-top: 20px;
}

.h1__container-mobile .h1__container-desktop {
  margin-top: 20px;
}

.section-new-product__container {
  background: url(images/bg-new-product.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
}
.section-new-product__container .new-product-title__container .new-product__title {
  font-family: "Abril Fatface";
  width: 300px;
  text-align: center;
}
.section-new-product__container .new-product-img__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-new-product__container .new-product__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-new-product__container .new-product__container .name-product__title {
  font-family: "Abril Fatface";
  color: #fff;
  font-size: 24px;
  letter-spacing: 2px;
  margin-top: 20px;
}
.section-new-product__container .new-product__container .ratio__container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: space-between;
  width: 50%;
}
.section-new-product__container .new-product__container .ratio__container .ratio__text {
  font-family: "Raleway";
  color: #fff;
  font-weight: 400;
  font-size: 14px;
}
.section-new-product__container .new-product__container .ratio__container .ratio__items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.section-new-product__container .new-product__container .price__text {
  font-family: "Abril Fatface";
  color: #fff;
  font-size: 24px;
  letter-spacing: 2px;
  margin-top: 20px;
}
.section-new-product__container .new-product__container .description__text {
  font-family: "Raleway";
  color: #fff;
  text-align: center;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 20px;
}
.section-new-product__container .new-product__container .spec__items {
  margin-top: 20px;
  display: flex;
  font-family: "Raleway";
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  width: 50%;
  justify-content: space-between;
}
.section-new-product__container .new-product__container .add-cart__button {
  margin-top: 20px;
  width: 130px;
  height: 30px;
  border-radius: 10px;
  border-color: #000;
  color: #fff;
  background: #000;
  font-family: "Poppins";
  font-weight: 400;
  width: 220px;
}
.section-new-product__container .new-product__container .add-cart__button:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.6);
}

.footer__container {
  background: linear-gradient(#fff, #6f6f6f);
  margin-top: 90px;
}
.footer__container .footer-logo__container {
  order: 1;
  text-align: center;
}
.footer__container .footer-social__container {
  display: flex;
  justify-content: center;
}
.footer__container .footer-social__container .footer-social__items {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin-top: 35px;
  margin-bottom: 10px;
}
.footer__container .us__container {
  height: 190px;
}
.footer__container .us__container .us__title {
  font-family: "Abril Fatface";
  font-size: 20px;
  margin-top: 35px;
  width: 300px;
  margin-bottom: 15px;
}
.footer__container .us__container .us-menu__items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 10px;
  height: 130px;
  font-family: "Poppins";
}
.footer__container .contact-us__container {
  width: 33%;
  height: 190px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  order: 3;
}
.footer__container .contact-us__container .contact-us__title {
  font-family: "Abril Fatface";
  font-size: 20px;
  margin-top: 35px;
  width: 300px;
  margin-bottom: 15px;
}
.footer__container .footer__text {
  font-family: "Poppins";
  font-size: 13px;
}
.footer__container .copyright__container {
  order: 5;
}
.footer__container .copyright__container .copyright {
  margin-top: 35px;
  font-family: "Raleway";
  font-size: 12px;
}
.footer__container .autor__container {
  margin-top: 20px;
  order: 6;
}
.footer__container .autor__container .autor__text {
  font-family: "Raleway";
  font-size: 14px;
}
.footer__container .autor__container .autor__icon-heart {
  color: red;
  font-size: 16px;
  font-weight: bold;
}
.footer__container .autor__container .autor__name {
  display: block;
  font-weight: bold;
  text-align: center;
}

.section-products__container {
  background: linear-gradient(180deg, rgba(224, 224, 224, 0) 0%, #d5d5d5 51.56%, rgba(245, 245, 245, 0) 100%);
}

.products {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: rgb(0, 0, 0);
  flex-direction: row;
  flex-wrap: wrap;
}

.price__vector {
  justify-content: center;
  align-items: center;
}

.product__information hr {
  align-items: center;
  justify-content: center;
  border-top: 2px dashed rgb(202, 202, 202);
}

.product__caracteristicas ul {
  list-style: circle;
  display: flex;
  flex-direction: row;
  margin: 5px;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.product__caracteristicas li {
  font-family: "Raleway", sans-serif;
  margin-right: 10px; /* Espacio entre elementos li */
  display: flex;
  align-items: center; /* Alineación vertical en el centro */
}

.product__imagen {
  position: absolute;
  margin-left: -6rem;
}

.products {
  position: relative;
}

.product__information {
  margin-top: 6rem;
  padding: 5rem 3rem 1rem 1rem;
  background-color: white;
  border-radius: 10px;
}

.product__caracteristicas {
  display: flex;
  flex-direction: row;
}

.title_principal p {
  font-size: 30px;
  font-family: "Abril Fatface", cursive;
  text-align: center;
}

.title {
  font-size: larger;
  justify-content: start;
  font-family: "Abril Fatface", cursive;
  font-size: 18px;
}

.product__price {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: "Raleway", sans-serif;
}

.product__price span {
  border: 1px solid black;
  border-radius: 10px;
}

.price__vector {
  background-color: black;
  padding: 3px;
  border-radius: 20%;
}

.section-products__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.section-products__btn button {
  color: white;
  background-color: black;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  margin: 4rem;
  padding: 0.3rem 2rem 0.3rem 2rem;
}

/*Seccion Contacto*/
.section-contact__container {
  background-image: url("./src/piano-fondo-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  text-align: center;
  margin-top: 30px;
  font-family: "Abril Fatface";
}

p {
  text-align: center;
  margin-top: 20px;
  width: 50%;
  font-family: "Raleway";
}

.form__container {
  display: flex;
  flex-direction: column;
}

.flex__label {
  margin-left: 10px;
  margin-top: 20px;
  margin-top: 30px;
  font-weight: bold;
  font-family: "Raleway";
}

.flex__box {
  background-color: rgb(51, 49, 46);
  text-align: center;
  margin-top: 20px;
  width: 380px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  opacity: 0.7;
}

.flex__textarea {
  background-color: rgb(51, 49, 46);
  text-align: center;
  margin-top: 20px;
  width: 380px;
  height: 160px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  opacity: 0.7;
}

.button__send {
  background-color: black;
  color: white;
  margin-top: 25px;
  margin-bottom: 30px;
  width: 380px;
  height: 32px;
  border-radius: 8px;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Poppins";
}

/*Fin Seccion Contacto*/
@media only screen and (min-width: 425px) {
  .nav-menu__item--large {
    display: flex;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-align: center;
  }
  .piano__container-big {
    width: 589px;
    height: 454px;
  }
  .h1__container-desktop {
    font-family: Abril Fatface;
    font-size: 56px;
    font-weight: 400;
    line-height: 76px;
    letter-spacing: 0.05em;
    text-align: center;
  }
  .section-principal__item-logos {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -154px;
  }
  .section-new-product__container {
    background: url(images/bg-new-product-gradient.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }
  .section-new-product__container .new-product-title__container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .section-new-product__container .new-product-title__container .new-product__title {
    font-family: "Abril Fatface";
    width: 300px;
    text-align: center;
    letter-spacing: 2px;
  }
  .section-new-product__container .new-product-img__container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-new-product__container .new-product-img__container .new-product__img {
    width: 100%;
  }
  .section-new-product__container .new-product__container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
  }
  .section-new-product__container .new-product__container .description__text {
    text-align: left;
  }
  .footer__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer__container .footer-logo__container {
    width: 33%;
  }
  .footer__container .footer-social__container {
    width: 33%;
    order: 4;
  }
  .footer__container .us__container {
    width: 33%;
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__container .contact-us__container {
    width: 33%;
    height: 190px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    order: 3;
  }
  .footer__container .copyright__container {
    width: 67%;
  }
  .section-partners__container {
    width: 960px;
    height: 589px;
    background-image: linear-gradient(to bottom, rgb(148, 147, 147), white);
  }
  .meet__container {
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
  }
  .meet__container strong {
    margin-top: 50px;
  }
  .logos__container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 960px;
    height: 423px;
  }
  .first-line__container, .third-line__container {
    display: flex;
    justify-content: space-around;
    margin: 0 0 0 40px;
  }
  .second-line__container {
    display: flex;
    justify-content: space-between;
    margin: 45px 0 45px 0;
  }
  .first-partners__container {
    width: 328px;
    height: 103px;
    background-color: black;
    color: white;
    border-radius: 100px;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 20px;
  }
  .second-partners__container {
    width: 328px;
    height: 103px;
    background-color: black;
    color: white;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }
  .text__item {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .first-image__item {
    display: flex;
    justify-content: flex-end;
    height: 82px;
    width: 82px;
    margin: 10px 0 10px 10px;
    background-color: rgb(24, 23, 23);
    border-radius: 100%;
    border: 2px solid white;
  }
  .second-image__container {
    display: flex;
    justify-content: flex-end;
    height: 82px;
    width: 82px;
    margin: 10px 10px 10px 0;
    background-color: rgb(24, 23, 23);
    border-radius: 100%;
    border: 2px solid white;
  }
  .third-line__container .first-partners__container:last-child {
    border-radius: 100px 30px 30px 100px;
  }
  /*Seccion contacto*/
  .section-contact__container {
    background-image: url("./src/pianofondo.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .flex__label {
    margin-left: 10px;
    margin-top: 20px;
    margin-top: 30px;
    font-weight: bold;
    font-family: "Raleway";
    text-align: left;
  }
  .container__tel__mail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .container__telephone {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container__telephone label {
    margin-right: 110px;
  }
  .container__mail {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container__mail label {
    margin-right: 120px;
  }
  .flex__box {
    background-color: rgb(51, 49, 46);
    text-align: center;
    margin-top: 20px;
    width: 100%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    opacity: 0.7;
  }
  .flex__textarea {
    background-color: rgb(51, 49, 46);
    text-align: center;
    margin-top: 20px;
    width: 380px;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    opacity: 0.7;
  }
  .button__send {
    background-color: black;
    color: white;
    margin-top: 25px;
    margin-bottom: 30px;
    width: 380px;
    height: 32px;
    border-radius: 8px;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Poppins";
  }
}
@media only screen and (max-width: 425px) {
  .nav-menu__item--large {
    display: none;
  }
  .section-principal__item-logos {
    display: none;
  }
  .h1__container-mobile {
    font-family: Abril Fatface;
    font-size: 32px;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: 0.05em;
    text-align: center;
  }
  .piano__container-small {
    width: 270px;
    height: 210px;
  }
  .main__container {
    font-family: Raleway;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .section-new-product__container {
    height: 880px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .section-new-product__container .new-product-img__container .new-product__img {
    width: 100%;
  }
  .footer__container {
    display: flex;
    flex-direction: column;
    height: 700px;
  }
  .footer__container .footer-logo__container {
    width: 100%;
  }
  .footer__container .footer-social__container {
    width: 100%;
    order: 2;
  }
  .footer__container .us__container {
    width: 100%;
    order: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer__container .us__container .us-menu__items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__container .contact-us__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 4;
    text-align: center;
  }
  .footer__container .copyright__container {
    width: 100%;
    text-align: center;
  }
  .footer__container .autor__container {
    text-align: center;
  }
  .section-partners__container {
    width: 424px;
    height: 600px;
    background-image: linear-gradient(to bottom, rgb(148, 147, 147), white);
  }
  .meet__container {
    width: 424px;
    height: 250px;
    font-size: 34px;
    margin-bottom: 110px;
    display: flex;
    justify-content: center;
  }
  .meet__container strong {
    display: flex;
    justify-content: center;
    max-width: 290px;
    text-align: center;
    margin-top: 50px;
  }
  .logos__container {
    width: 424px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .first-line__container, .second-line__container, .third-line__container {
    display: inline;
    margin: 0 50px 0 35px;
  }
  .first-partners__container {
    width: 340px;
    height: 103px;
    background-color: black;
    color: white;
    border-radius: 100px 30px 30px 100px;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 40px;
  }
  .second-partners__container {
    width: 340px;
    height: 103px;
    background-color: black;
    color: white;
    border-radius: 30px 100px 100px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  .third-line__container .first-partners__container:last-child {
    border-radius: 100px 30px 30px 100px;
  }
  .desktop__item {
    display: none;
  }
  .text__item {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .first-image__item {
    display: flex;
    justify-content: flex-end;
    height: 82px;
    width: 82px;
    margin: 10px 0 10px 10px;
    background-color: rgb(24, 23, 23);
    border-radius: 100%;
    border: 2px solid white;
  }
  .second-image__container {
    display: flex;
    justify-content: flex-end;
    height: 82px;
    width: 82px;
    margin: 10px 10px 10px 0;
    background-color: rgb(24, 23, 23);
    border-radius: 100%;
    border: 2px solid white;
  }
  /*Seccion contacto*/
  .section-contact__container {
    background-image: url("./src/piano-fondo-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  p {
    text-align: center;
    margin-top: 20px;
    width: 65%;
    font-family: "Raleway";
  }
  .flex__label {
    margin-left: 35px;
    margin-top: 20px;
    margin-top: 30px;
    font-weight: bold;
    font-family: "Raleway";
    text-align: left;
  }
  .container__tel__mail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container__telephone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .container__telephone label {
    margin-right: 350px;
  }
  .container__mail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .container__mail label {
    margin-right: 375px;
  }
  .flex__box {
    background-color: rgb(51, 49, 46);
    text-align: center;
    margin-top: 20px;
    width: 380px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    opacity: 0.7;
  }
}/*# sourceMappingURL=styles.css.map */